<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <%- include('./partials/header') %>

    <h3 align="center">Home</h3>
    <div id="main">
        <% prod.forEach( function(ele) { %>
            <div class="card" id="<%= ele['id'] %>">
                <img src="<%= ele['img'] %>" class="card-img-top" alt="<%= ele['prod_name'] %>">
                <div class="card-body">
                    <h3 class="card-title"><%= ele['prod_name'] %></h3>
                    <p class="card-text">Price : ₹ <%= ele['prod_price'] %></p>
                    <%if(!added.includes(ele['id'])) {%>
                        <a id="<%= ele['id'] %>" onclick="cart(this.id)" class="btn btn-success <%= ele['id'] %>">Add to cart</a>
                    <%} else {%>
                        <a id="<%= ele['id'] %>" onclick="cart(this.id)" class="btn btn-danger <%= ele['id'] %>">Remove from cart</a>
                    <% } %> 
                    <a id="<%= ele['id'] %>" onclick="desc(this.id)" class="btn btn-info">View Desc</a>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="modal">
        <div id="item-desc" class="flex-container-center">
            <h2>Product Description</h2>
            <span id="close">&times;</span>
            <br>
            <hr>
            <img id="item-img" src="" alt="Product Image">
            <br><br>
            <p id="desc"></p>
            <br>
            <button class="desc-button btn-success"></button>
        </div>
    </div>
</body>

<script>
    var logged_in = '<%= user %>' ;
    function cart(id)
    {
        try
        {
            id = id[0].attributes[1].nodeValue;
        }
        catch
        {
            id = id; //remains same
        }
        if(logged_in === 'true')
        {
            request.open('POST','/status');
            request.setRequestHeader("Content-type","application/json");
            request.send(JSON.stringify({id: id}));

            request.onload = function()
            {
                var status = request.status;
                var str = JSON.parse(request.response);
                var node = document.getElementsByClassName(id)[0];
                if(status === STATUS_OK)
                {
                    if(str['add'])
                    {
                        node.setAttribute("class","btn btn-danger "+id);
                        node.innerHTML = "Remove from cart";
                    }
                    else
                    {
                        node.setAttribute("class","btn btn-success "+id);
                        node.innerHTML = "Add to cart";
                    }
                    set_desc_button(str["add"], id);
                }
            }
        }
        else
        {
            alert('You have to login for this');
        }
    }
</script>
<script src="js/script.js"></script>

</html>